    <html>
    <head>
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
                <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">ARA</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link" >Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Nathan</span><br><p class="worky">• Web Designer <br>• Video Designer  <br>• Beat Maker</p></h1>

                    <!-- <a href="#" class="button">Contact</a> -->
                </div>

                <div class="home__social">
        <!--                     <a href="target="_blank"" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>  -->
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="50" y="60" href="../assets/img/bw.png"/>
                        </g>
                    </svg>
                </div>
                
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="../assets/img/natata.png" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">Hey there!<div class="hey"><p>👋🏼</p></div></h2>
                        <p class="about__text">
                            I'm RAKOTOMAVO Nathan Andriamanalinarivo, a 26-year-old from Antananarivo, Madagascar.<br><br> By profession, I'm a web designer 🧑🏻‍💻, but I also have a passion for beat making 🎶. These two creative outlets are my true passions. I love building great things, whether it's designing sleek, responsive websites or crafting pulsating EDM tracks that get people moving. 💃🏽🕺🏽 <br> <br>
                            
                            When I'm not immersed in code or beats, you can find me exploring new tech trends, experimenting with soundscapes, or simply enjoying the vibrant culture of my beautiful country. Creativity fuels my life, and I'm always excited to see where my next project will take me. 🔥🔥</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">
                            Professional skills and creativity are the twin pillars of career success. <br><br>- Professional skills, like communication, time management, and technical expertise, ensure tasks are executed efficiently and goals are met. 🧠 <br><br>
                            
                            - Creativity fuels innovation and problem-solving, enabling unique ideas and novel solutions. It is valuable across all fields, leading to groundbreaking products and improved processes. 💡</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">80%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">80%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT ( Angular, React, Node )</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">UX/UI</span>
                            </div>
                            <div class="skills__bar skills__ux">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='fab fa-figma skills__icon'></i>
                                <span class="skills__name">Figma</span>
                            </div>
                            <div class="skills__bar skills__fig">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">60%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class="fa-solid fa-headphones skills__icon" ></i>
                                <span class="skills__name">FL Studio</span>
                            </div>
                            <div class="skills__bar skills__fl">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">90%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='fa-solid fa-clapperboard skills__icon'></i>
                                <span class="skills__name">Adobe Premiere Pro / CapCut</span>
                            </div>
                            <div class="skills__bar skills__vid">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">72%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="../assets/img/brain.png" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <a href="#" id="nh" class="work__img">
                        <img src="../assets/img/cover NH.png" alt="">
                    </a>
                    <a href="#" id="jl" class="work__img">
                        <img src="../assets/img/jl.png" alt="">
                    </a>
                    <a href="#" id="rfam" target="_blank" class="work__img">
                        <img src="../assets/img/rfam.png" alt="">
                    </a>
                    <a href="#" id="acc" class="work__img">
                        <img src="../assets/img/Acc.png" alt="">
                    </a>
                    <a href="#" id="ara" class="work__img">
                        <img src="../assets/img/arabeat.png" alt="">
                    </a>
                    <!-- <a href="" class="work__img">
                        <img src="../assets/img/arabeat.png" alt="">
                    </a> -->
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2> 
                <p class="section-par"><a id="plane" class="fa-solid fa-envelope"></a> Leave me a message.</p>
                <div class="contact__container bd-grid">
                    <form (ngSubmit)="onSubmit()" action="" class="contact__form">
                        <input type="text" name="name" placeholder="Name" class="contact__input">
                        <input type="mail" name="email"  placeholder="Email" class="contact__input">
                        <textarea name="" id="" name="message"  cols="0" rows="10" class="contact__input"></textarea>
                        <button id="sendbtn" type="button"  class="contact__button button">Send</button>
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <a class="footer__title" href="mailto:nathna.mich98@gmail.com" >nathan.mich98&#64;gmail.com</a>
            <div class="footer__social">
                <a href="https://www.facebook.com/andriam.nathan/" target="_blank" class="footer__icon"><i id="fb" class='fa-brands fa-facebook-f' ></i></a>
                <a href="https://www.instagram.com/nathan.a.ra/" target="_blank" class="footer__icon"><i id="ig" class='fa-brands fa-instagram' ></i></a>
                <a href="https://www.linkedin.com/in/rakotomavo-nathan-3376052b5" target="_blank" class="footer__icon"><i id="in" class='fa-brands fa-linkedin-in' ></i></a>

            </div>
            <p class="footer__copy">&#169; ARA. All rigths reserved</p>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!--===== MAIN JS =====-->
        <script src="../assets/js/main.js"></script>

    </body>
    <router-outlet></router-outlet>
</html>
